``{{ f_doc.uri}}``
{{ "=" * (len(f_doc.uri) + 4) }}

{{ " ".join(f_doc.description) }}

Parameters
^^^^^^^^^^

{{ f_doc.t_params }}


Usage in state
--------------

.. code-block:: yaml
   :caption: {{ f_doc.state_caption }}
   :name: {{ f_doc.state_caption_anchor }}

{{ f_doc.state_example }}
