``{{ f_doc.uri}}``
{{ "=" * (len(f_doc.uri) + 4) }}

{{ " ".join(f_doc.description) }}

Parameters
^^^^^^^^^^

{{ f_doc.t_params }}

{{ f_doc.example_description }}

Usage in the CLI
----------------

.. code-block:: bash
   :caption: {{ f_doc.cli_caption }}
   :name: {{ f_doc.cli_caption_anchor }}

{{ f_doc.cli_example }}

Usage in state
--------------

.. code-block:: yaml
   :caption: {{ f_doc.state_caption }}
   :name: {{ f_doc.state_caption_anchor }}

{{ f_doc.state_example }}
    
Function return data
--------------------

{{ f_doc.t_return_data }}
