hello:
  description:
    - Data about this example.
    - Each item in this list is a sentence in the documentation.

  commandline: >-
    sugar \* {{ mod_name }}.hello "something"
    sugar \* {{ mod_name }}.hello name="something"

  states: >-
    N/A
