description:
  - Data about this example.
  - Each item in this list is a sentence in the documentation.

example-1: >-
  sugar \* {{ mod_name }}.my_function "something"
  sugar \* {{ mod_name }}.my_function name="something"
