{{ mod_name }}:
  description:
    - This is an example documentation you are going to write.
    - Each item in this list is a sentence in the documentation.

  states: |
    my_great_idea:
      {{ mod_name }}:
        - greeted:

    my_other_great_idea:
      {{ mod_name }}:
        - greeted:
            - name: "Darth Vader"
